

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="container">
      <div class="row">
        <div class="col-xs-3">
          <h2>Sign up</h2>
                <div class="field">
                  <label>Name</label>
                      <label class="control-label sr-only" for="inputEmail">Name</label><br>
                      <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName"%>
                </div>

                <div class="field">
                  <label>Email</label>
                   <label class="control-label sr-only" for="inputEmail">Email</label>
                   <%= f.email_field :email, class:"form-control", id:"inputEmail" %>
                </div>

                <div class="field">
                    <label>Password (<%= @minimum_password_length %> characters minimum)</label>
                    <label class="control-label sr-only" for="inputEmail">Password</label>

                    <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword" %>
                    <% if @minimum_password_length %>
                    <% end %>
                </div>

                <div class="field">
                  <label>Password confirmation</label>
                      <label class="control-label sr-only" for="inputEmail">Password confirmation</label><br>
                      <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputConfirmPassword" %>
                </div>


                <div class="actions">
                  <%= f.submit "Sign up" %>
                </div>
              <% end %>

              <%= render "devise/shared/links" %>
        </div>
      </div>
</div>


